<div class="index">

<h1>Sign In</h1>

<%= flash[:no_match] %>


<%= form_tag '/login' do %>
    <%= label_tag :name, "User Name:" %>
    <%= text_field_tag :name %>
    <%= label_tag :password, "Password:" %>
    <%= password_field_tag :password %>
    <%= submit_tag "Sign In" %>
<% end %>
<br>
<hr>
<h3> Need a User Page? </h3>
<%= button_to "Create a User Page", '/users/new', method: :get%>

</div>