
<h1>Name: <%= @move.name %></h1>
<h3>Description: <%= @move.description %></h3>

<% if @current_user %>
<%= button_to "Add to Favorites", new_favorite_move_path, method: :get%><br>
<% end %>

<img src=<%= @move.img_url %> alt="move" >

<% if @current_user %>
<p><%= link_to "Edit #{@move.name}", edit_move_path %> </p>
<% end %>

<p><%= link_to "Back to Wrestling Moves", moves_path %> </p>

