<div class="index">
    <%= link_to "Random Wrestler!", wrestler_path(@random_wrestler), class: "ui button" %>
    <h1>Name: <%= @wrestler.name %></h1>
    <h3>Bio: <%= @wrestler.bio %></h3>
    <h3>Average User Rating: <%= @wrestler.wrestler_average_rating %></h3>
    <img src=<%= @wrestler.img_url %> alt="wrestler" ismap><br>

    <% if @current_user %>
        <%= button_to "Add to Favorites", new_favorite_wrestler_path, method: :get, class: "positive ui button"%><br>
        <p><%= link_to "Edit #{@wrestler.name}", edit_wrestler_path %> </p>
    <% end %>

    <h3>Comment Feed!</h3>
    <% @wrestler.get_wrestler_comments.each do |comment| %>
        <p><%= comment %></p>
    <% end %>
</div>




