<div class="index">
    <h1> Rate this Move! </h1>

    <%= form_tag '/favorite_moves' do %>
        <%= label_tag 'favorite[rating]', 'Give Move a Rating:' %><br>
        <%= number_field_tag 'favorite[rating]' %><br><br>
        <%= label_tag 'favorite[comments]', 'Say Something About Them:' %><br>
        <%= text_area_tag 'favorite[comments]' %><br><br>
        <%= submit_tag "Add!", class: "ui positive button" %>
    <% end %>
    <br>

    <p><%= link_to "Back to Moves", moves_path %> </p>

</div>
